/* Reset Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.container {
    color:black;
    font-size: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header Styles */
header {
    background-image: url('./Images/Travel background.avif');
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    /* align:right; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-of-type {
    margin-right: 0;
}

nav ul li a {
    color:black;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color:blueviolet;
}

.hero-text {
    text-align: center;
    color: #fff;
}
.hero-text{
    /* background-color:white; */
}

.hero-text h1 {
    color:#000;
    font-size: 5rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px #000;
}

.hero-text p {
    font-size: 1.5rem;
    margin-bottom: 40px;
    text-shadow: 2px 2px #000;
}

.btn {
    display: inline-block;
    background-color:#000;
    color:#F5F5F5;
    padding: 10px 20px;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #fff;
    color: #FFC107;
    cursor: pointer;
}

/* Features Styles */
.features {
    background-color: #F5F5F5;
    padding: 80px 0;
}

.features h2 {
    font-size: 3rem;
    margin-bottom: 40px;
    text-align: center;
}

.features ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
}

.features li {
    width: 30%;
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    transition: all 0.3s ease;
}

.features li:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.features img {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 20px;
}

.features h3 {
    font-size: 1;
}